/*Cursed Timer ULIL font for score box*/
@import url('http://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0px;
    background: #1B244A;

}

.txt-style {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: white;
}

.main-ctn {
    margin: auto;
    display: flex;
    justify-content: space-evenly;

}

.score-box-txt {
    color: #F94F6D;
    font-size: 90px;
    font-weight: 400;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    /*This gives the boxes the load in animation*/
    transition: all 700ms ease-in;
}

.score-box {
    background-color: black;
    border-radius: 5px;
    /*This is giving white glow around boxes*/
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 20px #ffffff;

}

#home {
    width: 147.938px;
}


.point-ctn {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

.point-txt {
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.point {
    border: solid #9AABD8 2px;
    padding: 6px;
    border-radius: 5px;

}

button {
    background: transparent;
}

button:hover {
    background: #f94f6e8f;

    ;
    transition: 200ms;
}

.reset-btn {
    background: darkred;
    margin-right: 0;
}

.reset-btn-txt {
    color: white;
    text-align: center;
}


.home-ctn {
    display: flex;
    flex-direction: column;
}

.guest-ctn {
    display: flex;
    flex-direction: column;
}

.glowing-border {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 30px #ffee00;
    transition: 500ms;
}